<table>
  <thead>
    <th>Firstname</th>
    <th>Surname</th>
    <th>Phone number</th>
    <th>ID</th>
  </thead>
  <tr *ngFor="let item of list">
    <td>{{ item.firstname }}</td>
    <td>{{ item.surname }}</td>
    <td>{{ item.phonenumber }}</td>
    <td>{{ item.id }}</td>
  </tr>
</table>

<button (click)="getList()">List</button>