<h1>Please fill in your data:</h1>
<p *ngIf="errorMessage">{{errorMessage}}</p>
<form [formGroup]="messageForm" (ngSubmit)="updateOne()">
    <label>
      Id:
      <input type="text" formControlName="id">
      <div *ngIf="submitted && messageForm.controls.id.errors" class="errors">
        <div *ngIf="messageForm.controls.id.errors.required">User id is required</div>
      </div>
    </label>

    <label>
      First name:
      <input type="text" formControlName="firstname">
      <div *ngIf="submitted && messageForm.controls.firstname.errors" class="errors">
        <div *ngIf="messageForm.controls.firstname.errors.required">First name is required</div>
      </div>
    </label>

    <label>
      Surname:
      <input type="text" formControlName="surname">
      <div *ngIf="submitted && messageForm.controls.surname.errors" class="errors">
        <div *ngIf="messageForm.controls.surname.errors.required">Surname is required</div>
      </div>
    </label>

  <button type="submit" class="cta">Update</button>
</form>

<h3 *ngIf="success" class="success">Your form is valid!</h3>

<div *ngIf="submitted" class="results">
  <strong>First name:</strong>
  <span> {{ messageForm.controls.firstname.value}} </span>

  <strong>Surname:</strong>
  <span> {{ messageForm.controls.surname.value}} </span>
</div>
