label {
  display: block;

  input, textarea {
      display: block;
      width: 50%;
      margin-bottom: 20px;
      padding: 1em;
  }

  .errors {
      margin-top: -20px;
      color: red;
      padding: .5em;
      display: inline-block;
      font-size: .9em;
      margin-bottom: 20px;
  }
}

.cta {
  background: rgb(97, 71, 112);
  border: none;
  color: white;

  text-transform: uppercase;
  border-radius: 4px;
  padding: 1em;
  cursor: pointer;
}

.results {
  margin-top: 50px;

  strong {
      display: block;
  }
  span {
      margin-bottom: 20px;
      display: block;
  }
}

.success {
  margin-top: 20px;
  color: green;
  padding: .5em;
  display: inline-block;
  margin-bottom: 20px;
}