<header>
  <div class="container">
    <a routerLink="/"></a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/addform">Add</a></li>
        <li><a routerLink="/allclients">All</a></li>
        <li><a routerLink="/deleteclient">Delete</a></li>
        <li><a routerLink="/updateclient">Update</a></li>
      </ul>
    </nav>
  </div>
</header>