<h1>Please fill in your data:</h1>

<form [formGroup]="messageForm" (ngSubmit)="deleteOne()">

  <label>
    Id:
    <input type="text" formControlName="id">
    <div *ngIf="submitted && messageForm.controls.id.errors" class="errors">
      <div *ngIf="messageForm.controls.id.errors.required">User id is required</div>
    </div>
  </label>

  <input type="submit" value="Submit" class="cta">

</form>

<h3 *ngIf="success" class="success">Your form is valid!</h3>

<div *ngIf="submitted && success" class="results">
  <strong>Id:</strong>
  <span> {{ messageForm.controls.id.value}} </span>
</div>
