<h1>Please fill in your data:</h1>

<form [formGroup]="messageForm" (ngSubmit)="createOne()">

    <label>
      First name:
      <input type="text" formControlName="firstname">
      <div *ngIf="submitted && messageForm.controls.firstname.errors" class="errors">
        <div *ngIf="messageForm.controls.firstname.errors.required">First name is required</div>
      </div>
    </label>

    <label>
      Surname:
      <input type="text" formControlName="surname">
      <div *ngIf="submitted && messageForm.controls.surname.errors" class="errors">
        <div *ngIf="messageForm.controls.surname.errors.required">Surname is required</div>
      </div>
    </label>

    <label>
      Phone number:
      <input type="text" formControlName="phonenumber">
      <div *ngIf="submitted && messageForm.controls.phonenumber.errors" class="errors">
        <div *ngIf="messageForm.controls.phonenumber.errors.required">Phone number is required</div>
        <div *ngIf="messageForm.controls.phonenumber.errors.pattern">Phone number is not in correct format</div>
      </div>
    </label>

  <input type="submit" value="Save" class="cta">

</form>

<h3 *ngIf="success" class="success">Your form is valid!</h3>

<div *ngIf="submitted && success" class="results">
  <strong>First name:</strong>
  <span> {{ messageForm.controls.firstname.value}} </span>

  <strong>Surname:</strong>
  <span> {{ messageForm.controls.surname.value}} </span>

  <strong>Phone number:</strong>
  <span> {{ messageForm.controls.phonenumber.value}} </span>
</div>
